<%= select_tag "univerisities", grouped_options_for_select(Article::SELECT_UNIVERSITIES,nil,prompt: "大学を選択してください。") %>
<div id="replace">
<%= render :partial => "select_department" %>
</div>

<% [1,2,3,4,5].each do |line| %>
   <% @nextNum = 1 %>
   <%= render :partial => "form_line", locals: {:nuxtNum => @nextNum} %>
<% end %>

<%= select :company, :name , Article::COMPANY  %>


<script>
$(function (){
    $("#univerisities").change(function(){
        var value = $("#univerisities").val();

      function getParam(){return $.ajax({
             url: "/articles/ajax_department",
             type: "GET",
             data: {id: value},
             dataType: "script",
             success: function(data) {alert("success");},
             error: function(data) {alert("error");}
         });}

         getParam().done(function(result) {
            console.log("Yeah!");
        }).fail(function(result) {
           console.log("Hum..")
        });
    })
})


$(function (){
    $("#company_name").change(function(){
      var value = $("#univerisities2").val();

      function changeNum(){return $.ajax({
             url: "/articles/ajax_button",
             type: "GET",
             data: {id: 100},
             dataType: "script",
             success: function(data) {alert("success!");},
             error: function(data) {alert("error!");}
         });}
    
         changeNum().done(function(result) {
            console.log("Yeah!");
        }).fail(function(result) {
           console.log("Hum..")
        });

    })
})

</script>